[defaults]
# Ansible akan otomatis baca file inventory ini tanpa perlu dipanggil
inventory = ./devops/inventory.ini
# User default yang dipakai
remote_user = fikri16
# Mempercepat koneksi SSH
host_key_checking = False

[privilege_escalation]
# Otomatis minta izin sudo
become = True
become_method = sudo
become_user = root